#game-buttons {
  display: flex;
  justify-content: center;
}
.emoji-btn {
  background-color: black;
  border: 5px solid white;
  border-radius: 200px;
  margin-right: 22px;
  cursor: pointer;
}
.emoji {
  height: 100px;
  width: 100px;
  padding: 42px;
  padding-left: 38px;
  padding-right: 38px;
}
